127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{ansible_ssh_host}}   {{sib_host_name}}
{{ansible_ssh_host}}   mc-sp-simulator  #Mobile Connect SP Simulator
{{ansible_ssh_host}}   MNCDB  #Mobile Number Centralized Database Simulator
{{ansible_ssh_host}}   CSMCS  #Carrier Short Message Center Simulator
{{ansible_ssh_host}}   CSPS   #Carrier Subscriber Profile Simulator
{{ansible_ssh_host}}   MPSSS  #MePIN SAA Server Simulator