#<domain> <type> <item> <value>
{{sib_user_name}} soft memlock 100663296
{{sib_user_name}} hard memlock 100663296
{{sib_user_name}} hard nofile 65536
{{sib_user_name}} soft nofile 65536
{{sib_user_name}} hard nproc 50000
{{sib_user_name}} soft nproc 50000